<style>



.welcome-div {
  background-size: cover;
  background-position: center;
}


.mission-div{
  align-content: center;
}

{
  
}

.imgdescribe1 {
  height:200px;


  background-size: cover;
  background-position: center;

}

.submitMessageButton:hover {
  background-color: #007bff; /* Change the background color on hover */
  color: #fff; /* Change the text color on hover */
}







.footerbreak1{
  background-color: black;
  color: bisque;
}





.footer1 .copyright p {
  border-top: 1px solid rgba(255, 255, 255, .1);
}


.full-content {
  overflow-y: auto;
}

/* Responsive styles */
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* Additional CSS styles for the fixed form */
</style>
